@font-face {
    font-family: "JF Flat Regular";
    src: url('../font/JF-Flat-regular.eot');
    src: url('../font/JF-Flat-regular.eot?#iefix') format('embedded-opentype'),
    url('../font/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
    url('../font/JF-Flat-regular.woff') format('woff'),
    url('../font/JF-Flat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'JF Flat Regular' !important;
}

.header .logo{
    width: auto;
    text-align: right;
    margin: 15px 0 15px 0;

}

.nav-wrap {
    float: left;
}
#mainnav > ul > li > a{
    font-size: 14px;
}
.social{
    text-align: center;
}
.social ul li a{
    display: block;
    height: 40px;
    width: 40px;
    background: #724a29;
    color: #fff;
    border-radius: 50%;
    line-height: 40px;
}
.social ul li a:hover{
    background:#333;
}
.social ul li a i{
    font-size: 17px;
}
.social{
    margin-top: 30px;
}
.under-slider{
    background: url("../img/bg1.jpg") center center;
    background-size: cover ;
    -o-background-size: cover ;
    -moz-background-size: cover ;
    -ms-background-size: cover ;
    -webkit-background-size: cover ;
    text-align: center;
    padding: 50px 0;

}
.under-slider a,
.under-slider span{
    color: #fff;
    font-size: 20px;
    display: inline-block;
}
.under-slider a{

    padding: 10px 20px;
    background: #301601 ;
    border-radius: 6px;
}
.section h1.title,
.blog h1.title{
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    color: #724a29;
}
.testimonials img{
    height: 130px;
    width: 130px;
    margin-bottom: 20px;
    border-radius: 50%;
}
.testimonials.style2 blockquote:before{
    color: rgba(255, 255, 255, 0.50);
    display: block !important;
    left: -30px;
    top: 4px;
    content: "\f10d";
    font-family: "FontAwesome";
    font-size: 40px;
    font-style: normal;
    line-height: 0;
    position: absolute;
}
.testimonials.style2 blockquote:after{
    color: rgba(255, 255, 255, 0.50);

    content: "\f10e";
    font-family: "FontAwesome";
    font-size: 40px;
    font-style: normal;
    line-height: 0;
    position: relative;
    top: 20px;

}
.go-top{
    background-color: #724a29;
}
.testimonials.style2 .message .position{
    font-size: 17px;
}
.owl-theme .owl-controls .owl-nav div{
    background: #724a29;
}
.parallax5{
    background-image: url(../img/bg2.jpg);
}
.top-box span{
    font-size: 30px;
    font-weight: 600;
    color: #724a29;
    padding-right: 15px;
}
.flat-row.services-home4{
    padding: 70px 0;
}
.flat-row.services-home4 .box{
    margin-top: 30px;
}
.flat-row.services-home4 .box-description{
    margin-top: 20px;
}
.flat-portfolio .col-md-4{
    margin-bottom: 20px;
}
.flat-portfolio .item .overlay{

    right: 25px;
}
.mt-20{
    margin-top: 20px;
}
.widget.widget_info .footer-info{
    background-image: none;
}
.last-news img{
    min-height: 118px;
}
.last-news{
    padding: 60px 0;
}
ul.portfolio-filter > li.active a,
ul.portfolio-filter > li a:hover{
    color: #fff;
    background: #724a29;
    padding: 5px 15px;
}
.last-news h2{
    font-size: 30px;
}
.last-news p{
    font-size: 15px;
    padding-top: 20px;
}
.owl-theme .owl-dots{
    text-align: center;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #724a29;
}
.blog-carosuel.owl-theme .owl-dots .owl-dot.active span::before{
    border: 2px solid #724a29;
}
.blog-carosuel.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #724a29;
}
.portfolio-style2 h1.title,
.last-news h1.title{
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 40px;
}
.last-news h1.title{
    color: #724a29;
}
.flat-portfolio .item:hover .overlay, .flat-portfolio .item.active .overlay{
    left: 25px;
}
footer{
    background-color: transparent;
    background: url("../img/bg3.jpg") center center;
    background-size: cover ;
    -o-background-size: cover ;
    -moz-background-size: cover ;
    -ms-background-size: cover ;
    -webkit-background-size: cover ;
    text-align: center;
    padding: 50px 0;
}
footer .footer-info li{
    padding-right: 25px;
    text-align: left;
    color: #fff;
    font-size: 19px;
}
footer img{
    width: 73%;
}
footer{
    font-size: 19px;
    color: #fff;
}
.footer-widgets ul.footer-info li:before {
    content: "\f041";
    font-family: "FontAwesome";
    color: #fff;
    position: absolute;
    text-align: center;
    font-size: 22px;
    left: 0;
    top: 0;
}
.copyright{
    text-align: center;
}
.copyright p{
    color: #fff;
    font-size: 20px;
}
#mainnav-mobi ul li{
    text-align: left;
}
.parallax h1.title{
    text-align: center;
    font-size: 40px;
    color: #fff;
}
.page-title .overlay, .parallax .overlay {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
}
.project .flat-row.portfolio-style2{
    background: transparent !important;
}
.project ul.portfolio-filter > li a{
    color: #724a29;
}
ul.portfolio-filter > li.active a, ul.portfolio-filter > li a:hover{
    color: #fff;
}
.single-service-list-widget ul {
    background: #F8F8F8;
    padding: 9px;
    border: 1px solid #F1F1F1;
}
.single-sidebar-widget .single-service-list-widget ul li a {
    font-weight: 400;
    color: #383838;
    display: block;
    line-height: 56px;
    border-bottom: 1px solid #E6E6E6;
    position: relative;
    background: #fff;
    padding-left: 16px;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    border-left: 4px solid transparent !important;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    font-weight: bold;
}
.single-sidebar-widget .single-service-list-widget ul li.active a {
    border-left-color: #724a29 !important;
    color: #403C56;
    font-weight: bold;
}
.single-service-list-widget ul li a:after {
    content: "\f105";
    font-family: FontAwesome;
    color: #C8C8C8;
    font-size: 14px;
    position: absolute;
    right: 20px;
}
.tabs{
    padding: 80px 0;
}
.tabs h2{
    font-size: 25px;
}

.tabs p{
    padding-top: 20px;
    font-size: 16px;
}
@media (min-width: 888px) {
    #mainnav > ul > li > a,
    #mainnav > ul > li:last-child > a{
        padding: 15px 15px;

    }
    #mainnav > ul > li.active-link > a,
    #mainnav > ul > li > a:hover{
        background: #724a29;
        color: #fff;
        border-radius: 6px;
    }
}
@media (min-width: 420px){
    .under-slider a{
        margin-left: 50px;
    }
}

.box-description p{
    font-size: 17px;
}

/*///////*/
.big-image {
    position: relative;
}

.big-image h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 4em;
    font-weight: bold;
    transform: translate(-50%);

}

/* end header in site about and contact*/

/*  start new site abuot us*/

/* start content header*/

.content-text h1 {
    font-size: 2em;
    font-weight: bold;
    color: black;
    padding: 15px;

}

/* start  text content*/

.my-h1 {
    margin-top: 40px;
}

.bold-text {
    font-size: 1.5em;
    color: black;
    padding: 5px;
}

.normal-text {
    padding: 10px;
}

.my-image {
    padding: 0;
    padding: 10px;
    height: 200px;
}

.my-image img {
    background: red;
    height: 100%;
    border: 1px solid #fff;
}

/* end text content*/

/* start slider man image*/

.man-image {
    width: 220px;
    height: 250px;
    padding: 0;
    margin: 0 auto;
    background: black;
    position: relative;
}

.man-image ul {

    position: absolute;
    bottom: 10%;
    display: flex;
    width: 100%;
    color: #fff;
    justify-content: center;
    opacity: 0;
}


.man-image ul li {
    width: auto;
    height: auto;
    padding: 17px;
    border: 1px solid #fff;
    border-radius: 50%;
    word-wrap: break-word;
    position: relative;
    margin: 5px;
    cursor: pointer;


}

.man-image ul li i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;

}

.man-image img {
    border: none;
    height: 100%;
    width: 100%;
    opacity: 1;

}

.man-image:hover ul {
    opacity: 1;
}

.man-image:hover img {
    opacity: 0.5;
}

.man-info {
    width: 220px;
    height: auto;
    margin: 0 auto;
    background: #333333;

}

.man-info h1 {
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 1.5em;
    padding-top: 7px;
    padding-bottom: 3px;
}

.man-info p {
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 0.5em;
}

/* end slider man image*/

/*        end new site abuot us*/

/*              start  new site contact us */

.my-form {
    margin-bottom: 20px;
    margin-top: 20px;
;
}

.my-form h1 {
    color: #000;
    font-size: 2em;
    padding: 20px 0;
}

.my-form .name {
    width: 100%;
    text-align: left;
    padding-right: 10px;
    background: #fff;
    border: 1px solid #ccc;

}

.my-form textarea {
    min-width: 100%;
    height: 200px;
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
}

.cp-contact-us {
    background: #f8f8f8;
    padding: 30px;
    width: 100%;
    height: auto;
}

.cp-contact-us ul li {
    color: #000;
    font-size: 15px;
}

.my-form .mybutton {
    text-align: end
}

.my-form .submit {
    background-color: #724a29;
    width: 200px;
    padding: 20px;
    font-size: 1.5em;
    border-radius: 46px;
    color: #fff;
    margin-bottom: 10px;

}
.flat-testimonials .owl-controls{
    position: relative;
    top: 60px;
}
.lang img{
    width: 30px;
}
.lang{
    width: 90px;
    margin: 38px auto;
}
.lang a{
    font-size: 16px;
}
.lang a:hover{
    color: #724a29;
}
#mainnav ul.submenu {
    text-align: left;
    left: 0;

}
#mainnav ul.submenu > li > a{
    padding-right: 15px;
}

#mainnav ul.submenu > li > a:hover{
    background-color: #724a29;
}
.table1 h2,
.project-location h2,
.table-second h2,
.table2 h2{
    background: #724a29;
    display: block;
    color: #fff;
    font-size: 25px;
    text-align: center;
    letter-spacing: 1px;
    padding: 10px;

}
.testimonials.style2 .whisper{
    font-size: 20px;
}
.project-location{
    text-align: center;
    padding-top: 8px;
}
.project-location h2{
    display: inline-block;
}
.project-location img{
    margin: 0 auto;
    margin-top: 10px;
}
.table1 td ,
.table-second td,
.table2 td
{
    text-align: center;
    border-left:1px solid #cccccc ;
    border-right:1px solid #cccccc ;
}
.table-second,
.table2{
    border-top:1px solid #cccccc ;
}
.table1 td.text-center{
    text-align: center;
}
td.show-td{
    background: #c49900;
    color: #fff;
}
.flat-testimonials-slider{
    direction: ltr;
}
.projects-section{
    padding: 30px 0;
    margin: 30px 0;
    border-top: 2px solid #eab702;
}

#flat-testimonials-carousel ul li:first-child img{
    border: 0;
}
#flat-testimonials-carousel ul li.flex-active-slide{
    border: 2px solid #eab702;
}
#flat-testimonials-carousel ul li img{
    height: 70px;
    width: 70px;
}
#flat-testimonials-flexslider img{
    max-height: 350px;
}
.table-second td{
    text-align: center;
}
.table-second tbody tr:nth-child(odd){
    background: #eab702;
    color: #fff;
}
.table-second tbody tr.more{
    background: #fff;
}
#panel-1 { background-color: #53b388; }
#panel-2 { background-color: #5a69a9; }
#panel-3 { background-color: #c26468; }

.kwicks {
    width: 515px;
    height: 100px;
}
.kwicks > li {
    height: 100px;
    /* overridden by kwicks but good for when JavaScript is disabled */
    width: 125px;
    margin-left: 5px;
    float: left;
}
.kwicks a{
    display: block;
    background-size: cover !important;
    width: 100%;
    height: 100px;
}
.over-hidden{
    overflow: hidden;
}
.one-project-section{
    padding: 60px 0;
}
.project-one-section .flat-testimonials-slider .flex-direction-nav{
    display: none;
}
.flat-testimonials-slider .flex-direction-nav{
    display: block;
}
.flex-direction-nav a:before{
    content: "\f104";
    font-family: "FontAwesome";
    line-height: 35px;
}
.flex-direction-nav a.flex-next:before{
    content: "\f105";
    font-family: "FontAwesome";
    line-height: 35px;
}
.consul-img img{
    height: 120px;
    margin:  auto;
    margin-top: 20px;

}
@media (max-width: 420px){
    #logo img{
        width: 130px;
        margin-top: 10px;
    }
}
.footer-widgets img{
    margin: 0 auto;
}
.about-us{
    font-size: 17px;
}
.what-we-do .style5 .list-inline-item a{
    color: #fff;
}
.man-info p{
    font-size: 15px;
}
ul.portfolio-filter > li a{
    font-size: 16px;
}
.table-responsive td{
    font-size: 16px;
}